.fa-star{
    font-size: 1.25em;
    color:#ffc600;

}
.fa-star-o{
     font-size: 1.25em;
      color:#eaddc5;
}
.column a{
    font-size: 0.85em;
    color:grey;

}
#title{
margin: 2em auto;
}
#vertical{
    width: 90%;
    margin: auto;
    padding:1.5em;
    border: 0.5px lightgray solid;
    border-radius: 10px;
    margin-bottom: 10px;
}

#booksInMain {
    flex-wrap: wrap
}

.kartinki:hover {
    filter: brightness(70%);
}
.sectionOfOneBook {
    width: 70%;
    margin: auto;
    padding: 10px;
}
/*.bookTitles {
    display: inline-block;
    margin-left: 200px;
    margin-bottom: 10px;
    padding-top: 48px;
    width: 60%;
    vertical-align: top;
}*/

.descriptionOfBook {
    /*border: 1px solid silver;
    border-radius: 25px;*/
    text-align: middle;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}
.buyBookBtn {
    float: right;
    margin-right: 12px;
    padding: 10px 40px;
}
.imgBook {
    border-radius: 10px;
}
.gridOfBooks {
    border: 1px grey solid;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    height: 300px;
    box-sizing: border-box;

}
.titleOfGrid {
    padding-top: 15px;
}

.gridOfBooks:hover {
    filter: brightness(80%)
}