/* Ibrahim Jabbari -- www.ibrahimjabbari.com */
@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);

.shadow {
  color: #5B86E5;
  font-family: Arvo;
  font-weight: bold;
  text-shadow:
    -3px -3px 0 #222,
    3px -3px 0 #222,
    -3px 3px 0 #222,
    3px 3px 0 #222,
    4px 4px 0 #5B86E5,
    5px 5px 0 #5B86E5,
    6px 6px 0 #5B86E5,
    7px 7px 0 #5B86E5;
  line-height: 0.8em;
  letter-spacing: 0.1em;
  transform: scaleY(0.7);
  -webkit-transform: scaleY(0.7);
  -moz-transform: scaleY(0.7);
  margin:0;
  text-align: center;
}
.script {
  font-family: "Seaweed Script";
  color: #5B86E5;
  text-align: center;
  font-size: 20px;
  position: relative;
  margin:0;
}
.script span {

  padding: 0 0.3em;
}

.text1 {
  font-size: 10px;
}
.text2 {
  font-size: 40px;
}
.text3 {
  font-size: 30px;
}