.navbar img{
  max-height: 3em;
}
.is-orange{
  background-color: #ffbc6b;
}
.field{
  width:100%;
 
}
.search{
  width:10em;
}
.control{
  margin-top: 0.75em;
}
li{
  list-style-type: none;
}
li:first-of-type{
  font-weight: bolder;
}
#footer{
  width: 100%;
  margin-top: 1em; 
  bottom: 0;
  
}


#inFoot{
  margin: auto;
}
#inFoot>li{
  display: inline-block;
  margin-right: 2em;
}

.errorMsg {
  margin-top: 15px;
  color: red;
}

.successMsg {
  margin-top: 15px;
  color: green
}

.loader {
  border: 16px linear #f3f3f3;
  border-radius: 50%;
  border-top: 16px linear #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

nav {
  background: linear-gradient(to right, #5B86E5, #36D1DC);
}
.navbar-link.is-active, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:hover {
  background-color: #5B86E5;
  color: #0a0a0a;
  filter: brightness(110%);
}
#favBookAcc {
  flex-wrap: wrap;
}
#find{
  background-color: white;

  color:black;
  position: absolute;
  width:10em;
  z-index: 1000;
  border: 0.5px lightgray solid;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
#findA{
  background-color: white;

  color:black;
  position: absolute;
  
  z-index: 1000;
  border: 0.5px lightgray solid;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.hero-body {
  padding: 0.5rem 1.5rem;
}

.msgBook {
  margin-left: 50px;
  vertical-align: -webkit-baseline-middle;
  
}