.navbar img{
  max-height: 2.25em;
}
.is-orange{
  background-color: #ffbc6b;
}
.field{
  width:100%;
 
}
.search{
  width:13em;
}
.control{
  margin-top: 0.75em;
}
li{
  list-style-type: none;
}
li:first-of-type{
  font-weight: bolder;
}
#footer{
  width: 100%;
  margin-top: 1em;

  
}

#inFoot{
  margin: auto;
}
#inFoot>li{
  display: inline-block;
  margin-right: 2em;
}

.errorMsg {
  margin-top: 15px;
  color: red;
}

.successMsg {
  margin-top: 15px;
  color: green
}