.navbar img{
  max-height: 2.25em;
}
.is-orange{
  background-color: #ffbc6b;
}
.field{
  width:100%;
 
}
.search{
  width:13em;
}
.control{
  margin-top: 0.75em;
}
li{
  list-style-type: none;
}
li:first-of-type{
  font-weight: bolder;
}
#footer{
  width: 100%;
  margin-top: 1em;

  
}

#inFoot{
  margin: auto;
}
#inFoot>li{
  display: inline-block;
  margin-right: 2em;
}

.errorMsg {
  margin-top: 15px;
  color: red;
}

.successMsg {
  margin-top: 15px;
  color: green
}

.loader {
  border: 16px linear #f3f3f3;
  border-radius: 50%;
  border-top: 16px linear #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}