<br>
<section class="hero is-orange">
        <div class="hero-body animated rubberBand">
        <div class="container has-text-centered">
            <h1 class="title">Advanced search</h1>
        </div>
        </div>
    </section>
<br>

<div class=" container is-pulled-left">

<div class="field">
  <label class="label">Author</label>
  <div class="control">
    <input class="input" type="text" placeholder="Author" name = 'author' ng-model = 'searchData.author'>
  </div>
</div>
<div class="field">
  <label class="label">Title</label>
  <div class="control">
    <input class="input" type="text" placeholder="Title" name = 'title' ng-model = 'searchData.title'>
  </div>
</div>
<div class="field">
  <label class="label">ISBN-10</label>
  <div class="control">
    <input class="input" type="text" placeholder="ISBN-10" name = 'isbn10' ng-model = 'searchData.isbn10'>
  </div>
</div>
<div class="field">
  <label class="label">ISBN-13</label>
  <div class="control">
    <input class="input" type="text" placeholder="ISBN-13" name = 'isbn13' ng-model = 'searchData.isbn13'>
  </div>
</div>
<div class="field">
  <label class="label">Publisher</label>
  <div class="control">
    <input class="input" type="text" placeholder="Publisher" name = 'publisher' ng-model = 'searchData.publisher'>
  </div>
</div>
<div class="field">
  <label class="label">Price</label>
  <div class="control">
    <input class="input" type="number" placeholder="Price" name = 'price' ng-model = 'searchData.price'>
  </div>
</div>
<a class="button is-info" href="#!/advancedResult" ng-click = 'searchingForBooks(searchData)'>Search</a>
</div>
