<div class="section" ng-controller="authorController">
    <h1 class="title">{{author.name}}</h1>
    <div class="columns">
      <div class="column is-3">
        <img ng-src="{{author.img}}" alt="">
        <article>
          <p>
           {{author.info}}
          </p>
        </article>
      </div>
      <div class="column">
        <h3 class="subtitle">Books By {{author.name}}</h3>

        <div class="level-right">
          <span>Sort by &nbsp</span>
          <div class="select">
            <select name="" id="" ng-model="sortBooks">
          <option disabled selected>Sort By</option>
          <option value="+saleInfo.listPrice.amount" >Price:Low to High</option>
          <option value="-saleInfo.listPrice.amount">Price:High to Low</option>
          <option value="+volumeInfo.averageRating">Avg. Customer Review: Low to High</option>
          <option value="-volumeInfo.averageRating">Avg. Customer Review: High to Low</option>
        </select>
          </div>
        </div>
        <div>
          <br>
            <ul>
                <li ng-repeat="book in booksByAuthor | orderBy: sortBooks">
                  <div class="columns" >
                    <div class="column is-3">
                      <img ng-if='book.volumeInfo.imageLinks.thumbnail' ng-src="{{book.volumeInfo.imageLinks.thumbnail}}" alt="" width="130">
                      <img ng-if='!book.volumeInfo.imageLinks.thumbnail' ng-src="https://cdn.pixabay.com/photo/2013/07/12/15/20/author-149694_640.png" alt="" width="130">
                      <a href="#!/book/{{book._id}}" class = 'button is-primary' style = 'display:block'> <strong>More info</strong> </a>
                    </div>
                    <div class="column">
                      <h3 class="subtitle">{{book.volumeInfo.title}}</h3>
                      <h6>by {{book.volumeInfo.authors[0]}}</h6>
                       <hr>
                       <p>
                        <strong>Price:</strong> {{book.saleInfo.listPrice.amount}} {{book.saleInfo.listPrice.currencyCode}}
                        <span ng-if='!book.saleInfo.listPrice.amount'>Out of stock</span>
                    </p>
                     <hr>
                     <label for="progressRating"><span ng-if = 'book.volumeInfo.averageRating'>Average rating:  {{book.volumeInfo.averageRating}}/5</span> <span  ng-if = '!book.volumeInfo.averageRating'> No rating availiable</span></label>
                     <progress name = 'progressRating' class="progress is-warning" value="{{book.volumeInfo.averageRating}}" max="5" ng-if = 'book.volumeInfo.averageRating'> </progress>
                    <!--<p>{{book.volumeInfo.averageRating}}/{{book.volumeInfo.ratingsCount}}</p>-->
              <hr>
                    </div>
                  </div>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
