
<div class="tile is-ancestor">
  <div class="tile is-3 is-vertical is-parent">
    <div class="tile is-child box">
     <img class='image level-left imgBook' ng-src="{{book.volumeInfo.imageLinks.thumbnail}}" width='150px' alt="">
     <h2 class="subtitle">Product details</h2>
     <p><strong>Pages:</strong> {{book.volumeInfo.pageCount}}</p>
     <p><strong>Publisher: </strong>{{book.volumeInfo.publisher}}</p>
     <p><strong>Language: </strong>{{book.volumeInfo.language}}</p>
     <p><strong>ISBN-10: </strong>{{book.volumeInfo.industryIdentifiers[1].identifier}}</p>
     <p><strong>ISBN-13: </strong> {{book.volumeInfo.industryIdentifiers[0].identifier}}</p>
     <p> <label for="progressRating"><strong>Average rating:</strong>  {{bookRating}}/5 </label>
      <progress name='progressRating' class="progress is-warning" value="{{bookRating}}" max="5">
      </progress></p>
     
    </div>
    <!-- <div class="tile is-child box">
       <h2 class="subtitle">Product details</h2>
            <p><strong>Pages:</strong> {{book.volumeInfo.pageCount}}</p>
            <p><strong>Publisher: </strong>{{book.volumeInfo.publisher}}</p>
            <p><strong>Language: </strong>{{book.volumeInfo.language}}</p>
            <p><strong>ISBN-10: </strong>{{book.volumeInfo.industryIdentifiers[1].identifier}}</p>
            <p><strong>ISBN-13: </strong> {{book.volumeInfo.industryIdentifiers[0].identifier}}</p>
    </div> -->
  </div>
  <div class="tile is-parent is-vertical">
    <div class="tile is-child box">
      
                <h1 class='title'>
                    {{book.volumeInfo.title}}
                </h1>
                <h3 class='subtitle'> {{book.volumeInfo.subtitle}}</h3>

                <h6>by
                    <span ng-repeat='author in book.volumeInfo.authors'> {{author}}{{last ? '' : ', '}}</span>
                </h6>
                <p>
                <strong>Published by </strong>  {{book.volumeInfo.publisher}} on {{book.volumeInfo.publishedDate}}</p>
            <p>
                <strong>Description:</strong>
                <span ng-if='book.volumeInfo.description'>{{book.volumeInfo.description}}</span>
                <span ng-if='!book.volumeInfo.description'>No description</span>
            </p>
            <p>
                <strong>Price:</strong> {{book.saleInfo.listPrice.amount}} {{book.saleInfo.listPrice.currencyCode}}
                <span ng-if='!book.saleInfo.listPrice.amount'>Out of stock</span>
            </p>
            <br>
            <a href="" ng-if="!book.saleInfo.listPrice.amount" class="buyBookBtn button is-info subtitle " disabled> Add to cart</a>
            <a href="" ng-if="book.saleInfo.listPrice.amount" class='buyBookBtn button is-info  subtitle '>Add to cart</a>
            <a href="" class='buyBookBtn button is-info  subtitle ' ng-if = 'userLogged()' ng-click = 'addToFavourite()'>Add to favourites</a> 
            <a href="" class='buyBookBtn button is-info  subtitle ' ng-if = '!userLogged()' disabled>Add to favourites</a> 
            <a href="" class='buyBookBtn button is-info  subtitle ' ng-if = 'userLogged()' ng-click = 'removeFromFavourite()' ng-show = ''>Remove from favourites</a> 
            <a href="" class='buyBookBtn button is-info  subtitle ' ng-if = '!userLogged()' disabled>Remove from favourites</a> 
            <span ng-show = 'successMsg' class='successMsg msgBook is-success' >{{successMsg}}</span>
            <span ng-show = 'errorMsg' class = 'errorMsg msgBook'>{{errorMsg}}</span>
            
          </div>

    <div class="tile is-child box">
            <h2 class="subtitle has-text-weight-semibold">Customer reviews:</h2>
<article class="media" ng-repeat="comment in comments">
  <div class="media-content">
    <div class="content">
      <p>
        <strong class="subtitle">{{comment.title}}</strong>
        <br>
            By {{comment.username}}
            <br>
            <small>on {{comment.date}}</small>
        <p> <label for="progressRating"><strong>Average rating:</strong>  {{comment.rating}}/5 </label>
                                <progress name='progressRating' class="progress is-warning" value="{{comment.rating}}" max="5">
                                </progress></p>
       {{comment.text}}
      </p>
    </div>
  </div>
  <div class="media-right">
    <button class="delete"></button>
  </div>
</article>
           <article class="media">
  <div class="media-content">
      <div class="field">
  <label class="label">Title</label>
  <div class="control">
    <input class="input" type="text"  ng-model="newComment.title" placeholder="Title">
  </div>
  <label class="label">Rating</label>
  <div class="control">
    <input class="input" type="number" ng-model="newComment.rating" min="0" max="5">
  </div>
</div>
    <div class="field">
      <p class="control">
        <textarea class="textarea" name="text" ng-model="newComment.text" placeholder="Add a comment..."></textarea>
      </p>
    </div>
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <a class="buyBookBtn button is-info" ng-click="addComment()">Post</a>
        </div>
      </div>
    </div>
  </div>
</article>
    </div>
  </div>
</div>