<div class="hero is-fluid">
    <div class='container has-text-centered' id='title'>
        <h1 class="title">
            Books at Emazon
        </h1>
    </div>
</div>
<div class="hero" id="vertical">
    <div class="columns">
        <div  class="column has-text-centered animated zoomIn">
            <a >
                <img src="https://images-na.ssl-images-amazon.com/images/G/01/img14/books/icons/11753_books_holiday-branding-icon-evergreen-02._V334475435_.jpg"
                    alt="" width="50">
                <div class = 'kartinki'>Arts &amp Photography</div>
            </a>
        </div>
        <div class="column has-text-centered animated zoomIn">
            <a>
                <img src="https://images-na.ssl-images-amazon.com/images/G/01/img15/books/icon/27400_icon_140x140_02.png" alt="" width="40">
                <div>Biographies &amp Memoirs</div>
            </a>
        </div>
        <div class="column has-text-centered animated zoomIn">
            <a>
                <img src="https://images-na.ssl-images-amazon.com/images/G/01/img14/books/icons/11753_books_holiday-branding-icon-evergreen-04.jpg"
                    alt="" width="50">
                <div>Children's Books</div>
            </a>
        </div>
        <div class="column has-text-centered animated zoomIn">
            <a>
                <img src="https://images-na.ssl-images-amazon.com/images/G/01/img14/books/icons/11753_books_holiday-branding-icon-evergreen-06.jpg"
                    alt="" width="50">
                <div>History</div>
            </a>
        </div>
        <div class="column has-text-centered animated zoomIn">
            <a>
                <img src="https://images-na.ssl-images-amazon.com/images/G/01/img14/books/icons/11753_books_holiday-branding-icon-evergreen-01.jpg"
                    alt="" width="50">
                <div>Literature &amp Fiction</div>
            </a>
        </div>
        <div class="column has-text-centered animated zoomIn">
            <a>
                <img src="https://images-na.ssl-images-amazon.com/images/G/01/img14/books/icons/11753_books_holiday-branding-icon-evergreen-10.jpg"
                    alt="" width="50">
                <div>Mystery &amp Suspense</div>
            </a>
        </div>
        <div class="column has-text-centered animated zoomIn">
            <a>
                <img src="https://images-na.ssl-images-amazon.com/images/G/01/img14/books/icons/11753_books_holiday-branding-icon-evergreen-09.jpg"
                    alt="" width="50">
                <div>Teens &amp Young Adults</div>
            </a>
        </div>
    </div>
</div>
<div class="tile is-ancestor">
    <div class="tile is-parent is-3">
        <article class="tile is-child box">
            <aside class="menu">
                <p class="menu-label">
                    Popular in Books
                </p>
                <hr>
                <ul class="menu-list">
                    <li>
                        <a>Best Books of 2017</a>
                    </li>
                    <li>
                        <a>100 Books to Read in a Lifetime</a>
                    </li>
                </ul>
                <p class="menu-label">
                    <a>New Releases</a>
                </p>
                <ul class="menu-list">
                    <li>
                        <a class="is-active">Books</a>
                        <ul>
                            <li>
                                <a>Adventure</a>
                            </li>
                            <li>
                                <a>Art</a>
                            </li>
                            <li>
                                <a>Biography &amp Autobiography</a>
                            </li>
                            <li>
                                <a>Businessmen</a>
                            </li>
                            <li>
                                <a>Children's stories</a>
                            </li>
                            <li>
                                <a>Comic &amp Graphic Novels</a>
                            </li>
                            <li>
                                <a>Drama</a>
                            </li>
                            <li>
                                <a>Erotic stories</a>
                            </li>
                            <li>
                                <a>Fiction</a>
                            </li>
                            <li>
                                <a>History</a>
                            </li>
                            <li>
                                <a>Horror tales, American</a>
                            </li>
                            <li>
                                <a>History</a>
                            </li>
                            <li>
                                <a>Humor</a>
                            </li>
                            <li>
                                <a>Juvenile Fiction</a>
                            </li>
                            <li>
                                <a>Juvenile Nonfiction</a>
                            </li>
                            <li>
                                <a>Literary Criticism</a>
                            </li>
                            <li>
                                <a>Reference</a>
                            </li>
                            <li>
                                <a>Religion</a>
                            </li>
                            <li>
                                <a>Science fiction, American</a>
                            </li>
                            <li>
                                <a>Self-Help</a>
                            </li>
                            <li>
                                <a>Young Adult Fiction</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <p class="menu-label">
                    Avg. Customer Review
                </p>
                <ul class="menu-list">
                    <li>
                        <a href="">
                            <i class=" fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i> &amp UP</a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i> &amp UP</a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i> &amp UP</a>
                    </li>
                    <li>
                        <a href="">
                            <i class="  fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i> &amp UP</a>
                    </li>
                </ul>
            </aside>
        </article>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child box is-10">
            <div class="content">
                <div class="image">
                    <img src="https://images-na.ssl-images-amazon.com/images/G/01/kindle/merch/2017/TWIB/TWIB_PBOOKS_hero_desktop_1500x300.jpg"
                        alt="" width="150">
                </div>
                <div class="hero is-fluid">
                    <div class='container has-text-centered' id='title'>
                        <h1 class="title">
                            Popular authors
                        </h1>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-3 col has-text-centered ">
                        <a href="#!authors/Stephen King">
                            <img src="https://d1j7sgg6ckvcvy.cloudfront.net/logos/Stephen%20King%20Logo%20for%20Author%20page%20Maroon.png?v=6&scale=both&height=160"
                                alt="" width="120">
                        </a>
                    </div>
                    <div class="column is-3 col has-text-centered ">
                        <a href="#!authors/J. K. Rowling">
                            <img src="https://mark.trademarkia.com/logo-images/rowling/j-k-rowling-85130886.jpg" alt="" width="120">
                        </a>
                    </div>
                    <div class="column is-3 col has-text-centered ">
                        <a href="#!authors/E. L. James">
                            <img src="../img/james.jpg" alt="" width="150">
                        </a>
                    </div>
                    <div class="column is-3 col has-text-centered ">
                        <a href="#!authors/George R. R. Martin">
                            <img src="../img/martin.jpg" alt="" width="150">
                        </a>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-3 col has-text-centered ">
                        <a href="#!authors/Agatha Christie">
                            <img src="https://preppost.net/wp-content/uploads/2017/04/assinatura-Agatha.png" alt="" width="120">
                        </a>
                    </div>
                    <div class="column is-3 col has-text-centered ">
                        <a href="#!authors/Arthur Conan Doyle">
                            <img src="https://conandoyleestate.com/images/arthur-conan-doyle-home-signature.png" alt="" width="180">
                        </a>
                    </div>
                    <div class="column is-3 col has-text-centered ">
                        <a href="#!authors/John Green">
                            <img src="http://epubbud_uploads.s3.amazonaws.com/13448898/9Q893BWW/index-3_1.png" alt="" width="150">
                        </a>
                    </div>
                    <div class="column is-3 col has-text-centered ">
                        <a href="#!authors/Dan Brown">
                            <img src="../img/brown.jpg" alt="" width="150">
                        </a>
                    </div>
                </div>
                <hr>
            </div>
            <div ng-controller="mainController" class="columns" id='booksInMain'>

                <div class="column is-one-quarter" ng-repeat='book in books | limitTo:12'>
                    <a href="#!/book/{{book._id}}">
                    <div class = 'gridOfBooks'>
                    
                        <img ng-src="{{book.volumeInfo.imageLinks.thumbnail}}" width='100px' alt="">
                        <hr>
                        <h1 class = 'titleOfGrid'>
                            {{book.volumeInfo.title}}
                        </h1>
                   
                   </div>
                </a>
                   
                </div>
            </div>
        </article>

    </div>

</div>

<div class="container is-fluid">
    <h3 class="subtitle">Books At Emazon</h3>
    <p>
        The Emazon's Books homepage helps you discover great books you'll love without ever leaving the comfort of your couch. Here
        you'll find current best sellers in books, new releases in books, deals in books, Kindle eBooks, Audible audiobooks,
        and so much more. We have popular genres like Literature & Fiction, Children's Books, Mystery & Thrillers, Cooking,
        Comics & Graphic Novels, Romance, Science Fiction & Fantasy, and Emazon programs such as Best Books of the Month,
        the Emazon Book Review, and Emazon Charts to help you discover your next great read.
    </p>
    <p>
        In addition, you'll find great book recommendations that may be of interest to you based on your search and purchase history,
        as well as the most wished for and most gifted books. We hope you enjoy the Emazon's Books homepage!
    </p>
</div>