<div class="tile is-ancestor">
    <div class="tile is-3 is-vertical is-parent">
        <div class="tile is-child box">
            <img class='image level-left imgBook' ng-src="../img/profile.png" width='150px' alt="">
            <br>
            <h2 class="subtitle">My profile</h2>
            <p>
                <strong>Username:</strong> {{user.username}}</p>
            <p>
                <strong>E-mail: </strong>{{user.email}}</p>
            <p>
                <strong>Favourite books: </strong>{{user.favouriteBooks.length}}</p>
            <p>
                <strong>Comments: </strong>{{user.comments.length}}</p>
            
        </div>
       
    </div>
    <div class="tile is-parent is-vertical">
        <div class="tile is-child box is-12">

            <h1 class='title is-12'>
               My favorite books:
            </h1>
            <div class = 'columns is-onequarter' id = 'favBookAcc'>
                    
            <div class = 'column is-onequarter' ng-repeat = 'book in user.favouriteBooks | limitTo: 4 : startIndex'>
                <img width = '130' ng-src="{{book.volumeInfo.imageLinks.thumbnail}}" alt="">
                <p class = 'column'>{{book.volumeInfo.title}}</p>
            </div>
           
            </div>  
            <div class = 'level'>
                    <a> <i class="fa fa-chevron-left level-left" aria-hidden="true" ng-click = 'prevPage()'></i></a> 
                    <a><i class="fa fa-chevron-right level-right" aria-hidden="true" ng-click = 'nextPage()'></i></a>
            </div>

        </div>

        <div class="tile is-child box">
            <h2 class="subtitle has-text-weight-semibold">My comments:</h2>
            <article class="media" ng-repeat="comment in comments">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong class="subtitle">{{comment.title}}</strong>
                            <br> By {{comment.username}}
                            <br>
                            <small>on {{comment.date}}</small>
                            <p>
                                <label for="progressRating">
                                    <strong>Average rating:</strong> {{comment.rating}}/5 </label>
                                <progress name='progressRating' class="progress is-warning" value="{{comment.rating}}" max="5">
                                </progress>
                            </p>
                            {{comment.text}}
                        </p>
                    </div>
                </div>
                <div class="media-right">
                    <button class="delete"></button>
                </div>
            </article>
        </div>
    </div>
</div>