<section class="hero is-light is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4 animated rollIn">
                <h3 class="title has-text-grey">Sign Up</h3>
                <div class="box" ng-controller="registerController" >
                    <figure class="avatar">
                        <img src="../img/logo3.png">
                    </figure>
                    <form ng-submit = 'register(regData)' >
                        <div class="field">
                            <div class="control">
                                <input name = 'username' class="input is-large" type="text" placeholder="Your Name" autofocus="" ng-model = 'regData.username' required ng-minlength="3" ng-maxlength="15">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input name = 'email' class="input is-large" type="email" placeholder="Your Email" autofocus="" ng-model = 'regData.email' required ng-minlength="3" ng-maxlength="15">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input name = 'password' class="input is-large" type="password" placeholder="Your Password" ng-model = 'regData.password' required>
                            </div>
                        </div>
                        <div class="field">
                                <div class="control">
                                    <input name = 'repeatPassword' class="input is-large" type="password" placeholder="Repeat your Password" ng-model = 'regData.repeatPassword' required>
                                </div>
                            </div>
                        <button type = 'submit' class="button is-block is-info is-large" style = 'width:100%'>Sign Up</button>
                    </form>
                    <p ng-show = 'successMsg' class = 'successMsg'> {{successMsg}}</p>
                    <p ng-show = 'errorMsg' class = 'errorMsg'> {{errorMsg}}</p>
                </div>
                <p class="has-text-grey">
                    <p class= "has-text-grey">Have an account</p>
                    <a href="#!/login" class = 'button is-dark'>Log in</a> &nbsp;·&nbsp;
                    
                </p>
               
            </div>
        </div>
    </div>
</section>